<div class="login d-flex justify-content-center align-items-center m-auto">
    
  <div class="row">
      <div class="col-md-12">
       <div class="h-100 d-flex align-items-center justify-content-center w-100">
          <div class="box w-75">
              <h2>Register </h2>
           
      
              <form [formGroup]="registerForm" >
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Username</mat-label>
                      <input matInput formControlName="username" placeholder="username">
                      <mat-error>required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" placeholder="email">
                      <mat-error>required</mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Password</mat-label>
                      <input matInput f formControlName="password" type="password" placeholder="password">
                      <mat-error>required</mat-error>
      
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="w-100">
                      <mat-label>Confirm Password</mat-label>
                      <input matInput formControlName="confirmedPassword" type="password" placeholder="confirm password">
                      <mat-error>required</mat-error>
                      <mat-hint *ngIf="registerForm.hasError('notSame')">Password not the same</mat-hint>
                  </mat-form-field>
              </form>
              <div class="d-flex justify-content-center">
                  <button mat-raised-button color="warn" (click)="registerUser()" [disabled]="registerForm.invalid">Create Account</button>
              </div>
              <div class="d-flex justify-content-center">
                  <a routerLink="/auth/login">Have an Account ? </a>
              </div>
          </div>
       </div>
      </div>
  </div>

</div>