nav {
  background-color: #26f3d1;
  .navbar-brand {
    font-size: 27px;
    font-weight: bold;
    color: #004242 !important;
  }
  a {
    font-size: 20px;
    color: #fff !important;
    //padding: 7px 20px;
    &.active {
      background-color: #004242;
      color: #fff;
    }
  }
}
